<style type="text/Css">
    body{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .titre-reb{
        width: 100%;
        background: #1f4f7a;
        font-size: 9px ;
        padding:3px 10px;
        color: #f1f1f1;
        font-weight: bold;

    }
    .slh tr td {
        border-bottom: 0.5px solid #292929;
    }
    *{
        font-family: 'Courier' !important;
    }
</style>
<page backtop="35mm" backbottom="40mm"  backleft="0mm" backright="0mm">

<table style="width: 100% ;text-align: center;border: 0.5px solid #292929; ">
    <tr>
        <td style="width: 30% ;">
            <table cellspace="0" style="width: 100% ;margin: 0;">
                <tr>
                    <th style="width: 100% ; font-size: 10px ;font-weight: 200;height: 6px;background-color: black;color: white;">DATE CARTE </th>
                </tr>
                <tr>
                    <td style="width: 100% ; font-size: 10px"> {{detailC.DateValidite | date('y-m-d')}}</td>
                </tr>
                <!-- <tr>
                    <td style="width: 100% ; font-size: 11px ;font-weight: bold"></td>
                </tr> -->
            </table>
        </td>
        <td rowspan="2" style="width: 40% ;font-size: 16px;font-weight: bold ; border-right: 1px;border-left: 1px;">SITUATION VENTE B2C  </td>
        <td style="width: 30% ;">
            <table style="width: 100% ; background: #FFFFFF; text-align: center;">
                <tr>
                    <th style="width: 100% ; font-size: 10px ;font-weight: 200;background-color: black;color: white;">N° CARTE</th>
                </tr>
                <tr>
                    <td style="width: 100% ; font-size: 10px">{{detailC.IdCarte}}</td>
                </tr>
                <!-- <tr>
                    <td style="width: 100% ; font-size: 11px ;font-weight: bold"></td>
                </tr> -->
            </table>
        </td>
    </tr>
</table>



    <br/>




<br>
<table class="slh" style="width: 100%;font-size: 12px" cellspacing="-0.7">
    <tr style="background-color: Black;font-size: 12px;">
        <th style="width: 10%;padding: 5px;text-align: left;color: white">ORD</th>
        <th style="width: 20%;padding: 5px;text-align: center;color: white">ID Produit</th>
        <th style="width: 50%;padding: 5px;text-align: center;color: white">Designation</th>
        <th style="width: 20%;padding: 5px;text-align: center;color: white">UNITE</th>
        <th style="width: 20%;padding: 5px;text-align: center;color: white">QTE CARTE</th>
        <th style="width: 20%;padding: 5px;text-align: center;color: white">QTE VENDUE</th>
        <th style="width: 20%;padding: 5px;text-align: center;color: white">QTE RESTE</th>
    </tr>
</table>
{% set global = 0 %}
{% for item in detailR %}
    <h6 data-id="">
        {{item.famille_c}}
    </h6>
<table class="slh" style="width: 100%;font-size: 16px" cellspacing="-0.7">
        {% set count = 1 %}
        {% set total = 0 %}
        
    {% for itemP in detailP %}
    
    {% if itemP.Produit.FamilleSousC.FamilleC.FamilleC == item.famille_c %}
        
        <tr style="">
            <td style="width: 10%;padding: 5px;text-align: left;font-size:16px">{{count}}</td>
            <td style="width: 20%;padding: 5px;text-align: center;font-size:16px">{{ itemP.Produit.IdProduit }}</td>
            <td style="width: 50%;padding: 5px;text-align: center;font-size:16px">{{itemP.Produit.Produit}}</td>
            <td style="width: 20%;padding: 5px;text-align: center;font-size:16px">{{ itemP.Unite }}</td>
            <td style="width: 20%;padding: 5px;text-align: center;font-size:16px">{{itemP.StockCarte}}</td>
            <td style="width: 20%;padding: 5px;text-align: center;font-size:16px">{{itemP.StockCmd}}</td>
            <td style="width: 20%;padding: 5px;text-align: center;font-size:16px">{{itemP.StockReste}}</td>
        </tr>
        {% set total = total + itemP.StockReste %}
        {% set count = count + 1  %}
        
    {% endif %}
    
    {% endfor %}
    {% set global = global + total %}
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th></th><th style="font-size:16px;background:grey">{{total}}</th>
        </tr>
</table>

{% endfor %}
<table class="slh" style="width: 100%;font-size: 16px;margin-top:20px;" cellspacing="-0.7">
        <tr style="">
            <th style="width: 10%;padding: 5px;text-align: left;font-size:16px"></th>
            <th style="width: 20%;padding: 5px;text-align: center;font-size:16px"></th>
            <th style="width: 50%;padding: 5px;text-align: center;font-size:16px"></th>
            <th style="width: 20%;padding: 5px;text-align: center;font-size:16px"></th>
            <th style="width: 20%;padding: 5px;text-align: center;font-size:16px"></th>
            <th style="width: 20%;padding: 5px;text-align: center;font-size:16px"></th>
            <th style="width: 20%;padding: 5px;text-align: center;font-size:16px;background:black;color:white;">{{ global}}</th>
        </tr>
</table>        

</page>


