{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block javascript %}
{{ parent() }}
 <script type="text/javascript">
        
        $('.tabrow').click(function() {                        
   
});
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
</script>

{% endblock %}

{% block body %}
{{ parent() }}

<style>
.btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.btn span {
	float: left;
	margin-top: 2px;
}
</style>
     <link rel="stylesheet" href="{{ asset('../css/style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css'>
    <section class="home-section" style="height: 80vh;">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-party sidebarBtn'></i>

            </div>
           
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box" style="width:100%">
                    <div class="right-side">
                        <div class="row py-3">
                            <div class="Row">
                                <div class="Column1">
                                    <input class="form-check-input check-date" type="radio" id="prochainement" name="flexRadioDefault" data-id="prochainement" >
                                    <label class="form-check-label" for="prochainement">
                                    Prochainement
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input class="form-check-input check-date" type="radio" id="demain" name="flexRadioDefault" data-id="demain" >
                                    <label class="form-check-label" for="demain">
                                    Demain
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input class="form-check-input check-date" id="aujourdhui" type="radio" name="flexRadioDefault" data-id="aujourdhui" checked>
                                    <label class="form-check-label" for="aujourdhui">
                                    Aujourd'hui
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;

                                    <input class="form-check-input check-date" id="tous" type="radio" name="flexRadioDefault" data-id="tous" >
                                    <label class="form-check-label" for="tous">
                                    Tous
                                    </label>
                                </div>

                                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="Column2"><input class="dateC" type="date"></div>
                                <div class="Column3">
                                    <label class="select" for="slct">

                                                <select id="slct" class="slct" required="required" style="margin-bottom: 10px;">
                                                    <option value="1" disabled="disabled" class="optClient" selected="selected">Select Client</option>
                                                    {% for item in listClient %}
                                                    <option class="optClient" value="{{item.Id}}">{{item.Client}}</option>
                                                    {% endfor %}
                                                </select>
                                                <svg>
                                                    <use xlink:href="#select-arrow-down"></use>
                                                </svg>
                                    </label>
                                   
                                    <label class="select" for="slct">
                                        <select id="slct2" class="slct2" required="required" style="margin-top: 10px;">
                                            
                                        
                                        </select>
                                        <svg>
                                            <use xlink:href="#select-arrow-down"></use>
                                        </svg>
                                     </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                        <div class="title">Carts
                          <select class="btn btn-success selectpicker"  data-style="btn-primary" ><i class="material-icons">&#xf1c6;</i>
                                    <option id='0' >Imprimer</option>
                                    <option id='1'>detail</option>
                                    <option id='2'>facture </option>
                                    <option id='3'>PEE</option>
                                </select>
                            <a class="btn btn-secondary facturer"><i class="material-icons">&#xf1c6;</i> <span>Facturer1</span></a>
                            <a class="btn btn-success validerP"><i class="material-icons">&#xe86c;</i> <span>Valider</span></a>
                            <a class="btn btn-danger supprimer"><i class="material-icons">&#xea4c;</i> <span>Supprimer</span></a>
                            <a class="btn btn-info dupliquer"><i class="material-icons">&#xE250;</i> <span>Dupliquer</span></a>
                            <a class="btn btn-warning modifier"><i class="material-icons">&#xE254;</i> <span>modifier</span></a>
                            <a class="btn btn-success creer" ><i class="material-icons">&#xE147;</i> <span>Creer</span></a>
                             <select class="selectpicker" data-style="btn-primary" style="display: none;">
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>

                            <br>
                            <hr/>
                           
                                <div class="sales-details" >
                                    <table class="table_ tabrow" style="font-size: small;overflow-x: hidden !important;" id="rowClick">
                                        <thead>
                                            <tr>
                                                <th>
                                                    ID CARTE
                                                </th>
                                                <th>
                                                    JOUR
                                                </th>
                                                <th>
                                                    DATE VALIDIÉ
                                                </th>
                                                <th>
                                                    CLIENT
                                                </th>
                                                <th>
                                                    BÉNÉFICIARE
                                                </th>
                                                <th>
                                                    TYPE CLIENT
                                                </th>
                                                <th>
                                                    OBSERVARTION
                                                </th>
                                                 <th>
                                                Valider
                                            </th>
                                            <th>
                                                Facturer
                                            </th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbodycarte" style="max-height: 40rem !important;overflow-x: hidden !important;">
                                            {% for item in list %}

                                            <tr >
                                            <td hidden>{{item.Id}}</td>
                                            <td id="tdID" data-id="{{item.Id}}">{{item.IdCarte}}</td>
                                            <td>{{item.DateCreation | date('D')}}</td>
                                            <td>{{item.DateValidite | date('d-m-Y')}}</td>
                                            <td>{{item.Client.Client}}</td>
                                            <td>{{item.Beneficiaire.Beneficiaire}}</td>
                                            <td>{{item.TypeClient}}</td>
                                            <td>{{item.Obs}}</td>
                                            {% if item.Generer == 0 %}
                                            <td><input type="checkbox" name="" class="checkGenerer" id="" disabled="disabled"></td>
                                            {% else %}
                                            <td><input type="checkbox" name="" class="checkGenerer" id="" disabled="disabled" checked></td>
                                            {% endif %}
                                             {% if item.Facturer == 0 %}
                                            <td><input type="checkbox" name="" class="checkFacturer" id="" disabled="disabled"></td>
                                            {% else %}
                                            <td><input type="checkbox" name="" class="checkFacturer" id="" disabled="disabled" checked></td>
                                            {% endif %}
                                        </tr>
                                            
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                        
                        </div>

                </div>
                        <div class="top-sales box">
                        
                            <h5>Répartition</h5>
                              <br>
                           
                                        <div class="title">
                                                    <table class="table_ tabrow2" style="font-size: small;">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    ID_Repas
                                                                </th>
                                                                <th>
                                                                    Libellé
                                                                </th>
                                                                <th>
                                                                    Pax
                                                                </th>
                                                                <th>
                                                                    Heure
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody class='tbody ' style="height:16rem !important;">
                                                        <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                        </div>
                                        <br>
                                            <a class="btn btn-danger supprimerrepartition"><i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>
                                            <a class="btn btn-secondary printreparition"><i class="material-icons">&#xe555;</i> <span>Print</span></a>
                                            <a class="btn btn-warning repartitionmodifier"><i class="material-icons">&#xE254;</i> <span>modifier</span></a>
                                            <a class="btn btn-success repartitioncreer"><i class="material-icons">&#xE147;</i> <span>Creer</span></a>

                                <br>  
                                <hr> 


                            <h5>Produits</h5>
                                    <div class="title">

                                                <table class="table" style="font-size: small;">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Produit
                                                            </th>
                                                            <th>
                                                                Fammile
                                                            </th>
                                                            <th>
                                                                Acc
                                                            </th>
                                                            <th>
                                                                Qte
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody class="tbody2" style="height:17rem !important;">
                                                    
                                                    


                                                    </tbody>
                                                </table>




                                    </div>


                                       
                            <a class="btn btn-primary calc"><i class="material-icons">&#xea5f;</i> <span>Calc</span></a>
                            <a class="btn btn-danger supprimerproc"><i class="material-icons">&#xE15C;</i> <span>Supprimer</span></a>
                            <a class="btn btn-success creerproduit"><i class="material-icons">&#xE147;</i> <span>Creer</span></a>
                            <a class="btn btn-secondary"><i class="material-icons">&#xe555;</i> <span>Print</span></a>
                            <a class="btn btn-secondary hide" id="b2c"><i class="material-icons">&#xe5ca;</i> <span>B2C</span></a>




                        </div>
            </div>
        </div>
    </section>

   <div class="modal " id="btnCalc" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Produit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body ">
                <table class="table_ " style="font-size: small; width: 58.5rem;">
                    <thead>
                        <tr>
                            <th>
                                ID Produit
                            </th>
                            <th>
                                Produit
                            </th>
                            <th>
                                Unité
                            </th>
                            <th>
                                Initiale
                            </th>
                            <th>
                                Vendue
                            </th>
                            <th>
                                Reste
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbodycalcul" style="max-height: 45rem !important;">
                       
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnfermerpro">Fermer</button>
            </div>

          </div>
        </div>
    
    </div>

    <div class="modal " id="btnajoutercarte" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une carte</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{path('addcarte')}}">
            <div class="modal-body ">
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            {# ID Carte : <input type="text" name="idcarte" class="form-control" placeholder="ID Carte"> #}
                            Nom Client : 
                            <select class="form-control selectclientadd" name="client" required="required" style="margin-bottom: 10px;">
                                                    <option value="1" disabled="disabled" class="optclientadd" selected="selected">Select Client</option>
                                                    {% for item in listClient %}
                                                    <option class="optClient" value="{{item.Id}}">{{item.Client}}</option>
                                                    {% endfor %}
                                                </select>
                            Nom Beneficiaire : 
                            <select class="form-control selectbenefadd" name="beneficiaire" required="required" style="margin-bottom: 10px;">
                                                    <option value="1" disabled="disabled" class="optbenefadd" selected="selected">Select Bénéficiaire</option>
                                                </select>
                        </div>
                        <div class="col-lg-6">
                            Date Validité : <input type="Date" name="datevalidite" class="form-control" placeholder="ID Carte">
                            Tarif : 
                            <select class="form-control selecttarifadd" name="tarif" required="required" style="margin-bottom: 10px;">
                                <option value="1" disabled="disabled" class="opttarifadd" selected="selected">Select tarif</option>
                                    {% for item in lsttarif %}
                                    <option class="optClient" value="{{item.Id}}">{{item.Tarif}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                        Observation : <textarea class="form-control" name="obs" id="exampleFormControlTextarea1" rows="3"></textarea>
                            
                        </div>
                    </div>
                </div>

            </div>
           
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btnajoutercarteadd">Ajouter</button>
                <button type="button" class="btn btn-danger">Fermer</button>
            </div>
            </form>
          </div>
        </div>
    
    </div>

   
    <div class="modal " id="btnmodifercarte" >
        <div class="modal-dialog " >
            <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifier une carte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="popupmodifcarte">

                  </div>

            </div>   
        </div>
    </div>


    <div class="modal " id="btnsuppercarte" >
        <div class="modal-dialog " >
            <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supprimer une carte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="popupsuppcarte">

                  </div>

            </div>   
        </div>
    </div>


     <div class="modal " id="btnajouterrepartition" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une repartition</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popupajoutercarterepartition">
            {# ================= #}
            </div>  
          </div>
        </div>
    
    </div>


    <div class="modal " id="btnmodifierrepartition" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modifier une repartition</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popupmodifierrepartition">
            {# ================= #}
            </div>
          </div>
        </div>
    
    </div>
    

    <div class="modal " id="btnsupprimerrepartition" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">supprimer une repartition</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popupsupprimerrepartition">
            {# ================= #}
            </div>
          </div>
        </div>
    
    </div>

    

    <div class="modal addmodalproduct" id="btnajouterproduitrepartition" >
      
        <div class="modal-dialog " >
          <div class="modal-content text-center" style="width: 125rem;margin-left: -650px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter Les Produits</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popupajouterproduit">
            {# ================= #}
            </div>
          </div>
        </div>
    
    </div>


{# ============================================= #}

    <div class="modal deletemodalproduct" id="btnsupprimerproduitpro" >
      
        <div class="modal-dialog " >
          <div class="modal-content text-center" style="margin-top:50%"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">supprimer un produit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="popupsupproduit">
            {# ================= #}
            </div>
          </div>
        </div>
    
    </div>
    {# ==================================== #}

    <div class="modal " id="btnpopupvalider" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detail carte</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {# <form method="POST" action="{{path('addcarte')}}"> #}
            <div class="modal-body ">
               
                <div class="container">
                    <h4>Repartition</h4>
                    <br>
                    <table class="table" style="font-size: small;">
                                <thead>
                                    <tr>
                                        
                                        <th>
                                            ID Repas
                                        </th>
                                        <th>
                                            Libellé
                                        </th>
                                        <th>
                                            Pax
                                        </th>
                                        <th>
                                            heure
                                        </th>
                                        <th>
                                            Generer
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tbodyrep" style="height:25rem !important;">
    
                                </tbody>
                            </table>
                            <br>
                            <h4>Produits</h4>
                            <br>
                   <table class="table" style="font-size: small;">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="selectall" id="selectall">
                                        </th>
                                        <th>
                                            Produit
                                        </th>
                                        <th>
                                            Famille
                                        </th>
                                        <th>
                                            Qte
                                        </th>
                                         <th>
                                            Unite
                                        </th>
                                        <th>
                                            Prix U
                                        </th>
                                        <th>
                                            Total
                                        </th>
    
                                    </tr>
                                </thead>
                                <tbody class="tbodylstcarte" style="height:25rem !important;">
    
                                </tbody>
                            </table>
                </div>

            </div>
           
            <div class="modal-footer">
                <button type="submit" class="btn btn-success valider">Vaider</button>
                <button type="button" class="btn btn-danger">Fermer</button>
            </div>
            {# </form> #}
          </div>
        </div>
    
    </div>

    <!-- =================================== -->

    <div class="modal " id="btnfacturer" >
      
        <div class="modal-dialog " >
          <div class="modal-content " style="margin-top: 50%;width: 60rem;margin-left: -250px;"> 

            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Facturer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{path('addcarte')}}">
            <div class="modal-body ">
               
                <div class="container">
                        <div class="row text-center">
                           <div class="col-lg-6">
                            <div class="Column2">Date Debut : <input class="dateC1 form-control" type="date" id="lbldatedebut" required></div>
                           </div>
                           <div class="col-lg-6">
                            <div class="Column2">Date Fin : <input class="dateC1 form-control" type="date" id="lbldatefin" required></div>
                           </div>
                        </div>
                        <div class="row mt-3 text-center">
                            <div class="col-lg-6">
                                <select id="slctC" class="slctC form-control" required style="margin-bottom: 10px;width: 70%;">
                                    <option value="1" disabled="disabled" class="optClient" selected="selected">Select Client</option>
                                    {% for item in listClient %}
                                    <option class="optClient" value="{{item.Id}}">{{item.Client}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-lg-6">
                                <select id="slctB" class="slctB form-control" required style="margin-bottom: 10px;width: 70%;">
                                    <option value="1" disabled="disabled" class="optClient" selected="selected">Select Bénéficiaire</option>
                                </select>
                            </div>

                            <div class="col-lg-6 selectF">
                               <select class="form-control selecttariffacturer" name="tarif" required="required" style="margin-bottom: 10px;">
                                <option value="1" disabled="disabled" class="opttarifadd" selected="selected">Select tarif</option>
                                    {% for item in lsttarif %}
                                    <option class="optClient" value="{{item.Id}}">{{item.Tarif}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            <div class="col-lg-6 selectF" style="margin-top: 20px;margin-left: -160px;">

                                  <input type="checkbox" class="recharge" >
                                <label for="vehicle1">Recharge</label>
                        </div>

                         </div>
                         <div class="row mt-3 m-auto text-center">
                             
                             <div class="col-lg-12">
                                 <button type="button" class="btn btn-primary btncherchercarte" >chercher</button>
                             </div>
                            <!-- <div class="col-lg-4"></div> -->
                         </div>
                         <div class="row mt-3 text-center">
                            <table class="table" style="font-size: small;">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" class="selectall" id="selectall">
                                        </th>
                                        <th>
                                            ID_Carte
                                        </th>
                                        <th>
                                            Client
                                        </th>
                                        <th>
                                            Bénéficiaire
                                        </th>
    
                                    </tr>
                                </thead>
                                <tbody class="tbodylstcarte" style="height:25rem !important;">
    
                                </tbody>
                            </table>
                         </div>
                         <div class="row mt-5 text-center">
                             <div class="col-lg-5">
                                <div class="Column2">Date DA : <input class="dateC1 form-control dateda" type="date" required></div>
                             </div>
                             <div class="col-lg-7">
                                <div class="Column2">Numero DA : <input class="form-control numda" type="text" placeholder="Numero DA" required></div>
                             </div>
                         </div>
                </div>


            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success btnajouterfacture">Facturer</button>
              <button type="button" class="btn btn-danger">Fermer</button>
            </div>
          </div>
        </div>
    
      </div>
{% endblock %}
